<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)"
               mat-align-tabs="center">
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
  </mat-tab>
</mat-tab-group>


<div *ngIf="selected.value===0" class="search-bar">

  <mat-form-field appearance="outline" class="select">
    <mat-label>Search</mat-label>
    <mat-select [(value)]="search">
      <mat-option value="TouristSpot">Tourist Spot</mat-option>
      <mat-option value="Restaurant">Restaurant</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="select">
    <mat-label *ngIf="search==='TouristSpot'">Category</mat-label>
    <mat-label *ngIf="search==='Restaurant'">Cuisine</mat-label>

    <mat-select [(value)]="type">
      <mat-option *ngIf="search==='TouristSpot'" value="Museum">Museum</mat-option>
      <mat-option *ngIf="search==='TouristSpot'" value="Zoo">Zoo</mat-option>
      <mat-option *ngIf="search==='TouristSpot'" value="Aquarium">Aquarium</mat-option>
      <mat-option *ngIf="search==='Restaurant'" value="Italian">Italian</mat-option>
      <mat-option *ngIf="search==='Restaurant'" value="Italian">Mexican</mat-option>
      <mat-option *ngIf="search==='Restaurant'" value="Italian">Indian</mat-option>
      <mat-option *ngIf="search==='Restaurant'" value="Italian">American</mat-option>
      <mat-option *ngIf="search==='Restaurant'" value="Italian">Chinese</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="outline" class="search">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Enter destination city name">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

</div>


  <div class="card-container">
    <app-place *ngFor="let place of places" [place]="place" [tab]="selected.value"></app-place>
  </div>



